@import bourbon/bourbon
@import bootstrap


body
  +linear-gradient(top, #DFFFFF, #74D7DB, $fallback: #74D7DB)
  font-family: $helvetica
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4)
  color: #4D4D4D
  
#cameo .row .span12
  background: #4A4A4A
  
p.top span
  color: red
  
.i, h2
  display: inline
  
.clear_header 
  margin-top: 60px
  
.user, .graph, .comment, .tips, .activity, .about, .achievements, .usage
  overflow: auto
  +border-radius(0px)
  +box-shadow(0 0 6px rgba(0, 0, 0, 0.3))
  display: block
  margin: 1px 
  padding: 20px
  background: rgba(255, 255, 255, 0.9)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.4)
  .inner
    width: 100%
            
.user
  background: none
  box-shadow: none
  margin-bottom: 0
  .info
    float: left
    margin-left: 10px
    h2
      vertical-align: top
    p
      font-style: italic
    
img.profile
  float: left
  width: 65px
  border: 4px solid #F6F6F6
  margin-top: -4px
  +box-shadow(0 0 5px 1px rgba(0, 0, 0, 0.2))
  

.graph
  .chart
    display: block
    margin-top: 1em
    height: 360px
    background: url('/images/graph.jpg')
    +box-shadow(0 0 5px 1px rgba(0, 0, 0, 0.2))
  
.comment
  overflow: auto
  text-align: center
  position: relative
  .inner
    min-height: 100px
  .new
    padding-top: 20px
  .entry
    text-align: left
    background: white
    padding: 20px
  #comments
    display: none
    +box-shadow(0 0 5px 1px rgba(0, 0, 0, 0.2))
  button
    padding: 0
    display: block
    margin: auto 
    +button(#F7F7F7)
    &:hover
      text-decoration: none

.tip  
  a
    float: left
    margin-top: -10px
    padding: 8px 6px 8px 6px
    display: block
    +border-radius(4px)
    +transition (all 2.0s ease-in-out)
    &:hover
      cursor: pointer
      background: #B0E3E2
      color: white
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4)
      +box-shadow(0 0 1px rgba(0, 0, 0, 0.4))
      text-decoration: none
  a.want_click
    display: none
  a.selected
    width: 140px
    text-align: center
    background: white
    +box-shadow(0 0 1px rgba(0, 0, 0, 0.4))
    &:hover
      color: #0C71A4
      text-shadow: none
    
    
.row.contents
  margin-bottom: 100px

p.quote
  padding-top: 1em
p.address
  color: #666666

.tips
  min-height: 314px
  overflow: auto
  
.tip
  padding-top: 2em
  clear: both
  .span1
    margin-left: 0
.tip_info 
  height: 65px
  width: 270px
.tip_options
  float: right
  margin-left: 10px
  margin-top: 20px
  
  
.stat
  padding: 4px 0 
  .green
    +box-shadow(0 0 4px rgba(0, 0, 0, 0.4))
    float: left
    display: block
    width: 20px
    height: 20px
    +linear-gradient(top, #3EC43A, #319F2D, $fallback: #3EC43A)
    margin-right: 1em
  p
    display: block
    padding-top: .25em

.about p
  font-size: 14px
  font-weight: 200
  &.address
    border-top: 1px dashed rgba(0, 0, 0, 0.2)
    padding-top: 10px
.usage 
  min-height: 227px
  h1
    font-size: 60px
    margin: .25em 0 .25em 0
    font-weight: 200
    text-align: center
    span
      font-size: 30px

.activity
  p
    padding: .25em 0 .25em 0
  p.date
    float: right
    font-style: italic
    padding: 0
    margin: 0
.social 
  clear: both
  margin-bottom: -1em
  a
    margin-right: 30px

ul.badges
  padding: 1em 0 0 0
  margin: auto
  width: 330px
  li
    list-style: none
    float: left
    text-align: center
    width: 100px
    padding: 4px
    p
      padding-top: 10px
      text-shadow: none
      font-size: 11px