.container#opower  
  .row
    .span12
      .user
        %img.profile{:src => 'images/profile.jpg'}
        .info
          %h3 Ryan Rogalski
          %p Silver Level
        
  .row.contents
    .span8
      .graph
        %h3 Ryan vs Me      
        .chart
      .tips
        %h3 Ryan's Top Tips
        .tip
          .span1
            %img.profile{:src => 'images/profile.jpg'}        
          .tip_info.span3
            %h4 Unplug electronics
            %p "I always nag my wife to unplug her cellphone charger"
          .tip_options
            %a{:href=>"#"} I already do this
            %a{:href=>"#"} I want to do this
            %a{:href=>"#"} Doesn't apply to me
        .tip
          .span1
            %img.profile{:src => 'images/profile.jpg'}        
          .tip_info.span3
            %h4 Unplug electronics
            %p "I always nag my wife to unplug her cellphone charger"
          .tip_options
            %a{:href=>"#"} I already do this
            %a{:href=>"#"} I want to do this
            %a{:href=>"#"} Doesn't apply to me
        .tip
          .span1
            %img.profile{:src => 'images/profile.jpg'}        
          .tip_info.span3
            %h4 Unplug electronics
            %p "I always nag my wife to unplug her cellphone charger"
          .tip_options
            %p You already do this!
      
            
      .activity
        %h3 Recent Activity
        %h4 Tom won the UtilCo March Challange
        %p The UtilCo March challenge was to use 10% less energy than the previous March.
    .span4
      .about
        %h3 About Ryan
        %p.quote "I live in an apartment with 3 roommates so I try to be efficient but sometimes it is difficult to get my roommates to do the same."
        %p.address
          South East Climate Zone
          %br
          1000 - 1500 Square Feet
          %br
          Electric Head
          %br
          3-5 People
      .achievements
        %h3 Achievements
        %ul.badges
          - 6.times do |i|
            %li
              %img{:src => "images/badge.png"}
              %p Savings Awards
      .usage
        %h3 March Usage Results
        %h1 305 kWh
        .stat
          .green
          %p 17% improvement over last year
        .stat
          .green
          %p 3% better than similar homes
        .stat
          .green
          %p 2nd place in Opower Employees
      .comment
        %a{:href=>"#"} Write a Comment to Ryan
