.container  
  .row
    .span12
      .user
        user
  .row
    .span8
      .graph
        graph
      .comment
        comment
      .tips
        tips
      .activity
        activity
    .span4
      .about
        about
      .achievements
        achieve
      .usage
        usage
